<p id="notice"><%= notice %></p>

<p>
  <strong>Entered on:</strong>
  <%= @weight.day.date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weight.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @weight.age %>
</p>
<p>
  <strong>Height:</strong>
  <%= @weight.height %>
</p>

<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Home', root_path %>
