<%= form_for(@step) do |f|%>
<%= fields_for @day do |d| %>
  <div class="field">
    <%= d.label :date %><br>
    <%= d.date_select :date %>
  </div>

<% end %>
  <div class="field">
    <%= f.label :step %><br>
    <%= f.text_field :step %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
