<%= form_for(@exercise) do |f|%>
<%= fields_for @day do |d| %>
  <div class="field">
    <%= d.label :date %><br>
    <%= d.date_select :date %>
  </div>

<% end %>
  <div class="field">
    <%= f.label :exercise %><br>
    <%= f.select "exercise", options_for_select(["Cardio","Strength Training","Spin Class","Jazzercise","Kick-boxing"]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <p></p>
<% end %>
